.inner-sidebar {
	min-width: 250px;
    max-width: fit-content;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1a1e21;
}
.nav-pills .nav-link {
    color: #1a1e21;
}
nav.navbar {
    background-color: #1a1e21;
    color: #ffffff;
}